<h1>Admin::Dashboard</h1>

<table class="table table-bordered">
    <tr>
      <td>Number of <%= link_to 'products', [:admin, :products] %> available in this store</td>
      <td><%= @product_count%></td>
      <td>Number of category avaiable in this store</td>
      <td><%= @category_count%></td>
    </tr>
</table>

