<div>
  <h1>About this online store</h1>
      <p> Are you looking for nice plants which make you home and office beautiful? </p>
      <p> We offer various beautiful plants you may be interested in. </p>
      <p> Please check it out and enjoy your time with us! </p>
</div>